trunk/*/Runtime/Cache
trunk/*/Runtime/Data
trunk/*/Runtime/Logs
trunk/*/Runtime/Temp
trunk/Common/Runtime/Apps/*/Cache
trunk/Common/Runtime/Apps/*/Data
trunk/Common/Runtime/Apps/*/Logs
trunk/Common/Runtime/Apps/*/Temp
trunk/*/*/Conf/*
trunk/Developer

trunk/www/api_login.html
trunk/www/wiki_for_tapd.php
trunk/www/h5
trunk/www/admincp

trunk/ThinkPHP/Conf
trunk/ThinkPHP/*/VcySDK/Logs/*
trunk/ThinkPHP/PHPUnit/vendor

RemoteSystemsTempFiles
deployment.properties
.settings/
.project
.idea
.metadata
.buildpath
.tgitconfig
.DS_Store
*.pem
*.p12
pay.php
*.iml
.tags
.tags1

.deployment.properties
/trunk/Common/Runtime

log/
data/

trunk/_Python_/daemon_error.log
trunk/_Python_/daemon_stdout.log
*.pyc

trunk/Questionnaire/Data/IMG
trunk/Questionnaire/Data/ZIP